<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resume Maker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/javascript.js"></script>

    </head>
    <body>
        <header class="h_color" id="head">
            <div class="text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <h2>КОНСТРУКТОР ПОРТФОЛИО</h2>
                                  <p>Загрузите и используйте сейчас!</p>
                                </div>
                                <div class="nav_button_right">
                                <a  class="btn btn-primary" href="#popup1">Добавьте ваши данные</a>
                                <input type="button" onclick="printDiv()" class="btn btn-warning" value="Печать">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>

       <section id="resume_1">
           <div class="container">
                <div class="resume_1">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h1 id="uname">Иван Иванов</h1>
                                <p style="text-align: justify" id="uabout">Меня зовут Иван Иванов, и я рад представить себя в своем портфолио. Я — амбициозный и целеустремленный профессионал с многолетним опытом работы в сфере IT и дизайна. Моя страсть к технологиям и креативному подходу к решению проблем помогает мне добиваться высоких результатов в проектах.</p>
                            </div>
                        </div>
                        <div class="col-md-3" style="float: left;">
                            <img src="../static/img/resume_1/about_us_icon.png" width="40px"><span style="padding: 12px;font-weight: 600">Обо мне</span>
                        </div>
                        <div class="col-md-9" style="border-top: rgb(130, 146, 238) solid 1px;margin-top: 20px;float: right"></div>

                        <div class="col-md-12" style="margin-top: 25px">
                            <div style="margin-bottom: 50px">
                            <div class="col-md-4" style="float: left;">
                                <img src="../static/img/resume_1/birthday.png" width="30px"><span style="padding: 12px;font-weight: 600" id="udob">07 Мая, 1998</span>
                            </div>
                            <div class="col-md-8" style="float: left;">
                                <img src="../static/img/resume_1/phone.png" width="30px"><span style="padding: 12px;font-weight: 600" id="uphnum">+79026151545</span>
                            </div>
                        </div>
                            <div>
                            <div class="col-md-4" style="float: left;">
                                <img src="../static/img/resume_1/location.png" width="30px"><span style="padding: 12px;font-weight: 600" id="ulocation">Россия, Челябинск</span>
                            </div>
                            <div class="col-md-8" style="float: left;">
                                <img src="../static/img/resume_1/email.png" width="30px"><span style="padding: 12px;font-weight: 600" id="uemail">ivaniva74@gmail.com</span>
                            </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 20px;padding: 10px">
                            <h5>Цели</h5>
                            <p style="text-align: justify" id="ucareerobject">В своем портфолио я считаю важным отразить не только достижения, но и цели, которые ставлю перед собой. Эти цели помогают мне оставаться на правильном пути и развиваться как специалисту и личности. Одной из ключевых целей для меня является развитие навыков. Я стремлюсь повысить уровень своих профессиональных навыков, таких как программирование и дизайн. Освоение новых технологий, например, искусственного интеллекта или веб-разработки, для меня становится особенно актуальным, так как это позволяет оставаться конкурентоспособным на рынке труда.</p>
                        </div>

                        <div class="col-md-3" style="float: left;margin-top: 20px" >
                                <img src="../static/img/resume_1/education.png" width="40px"><span style="padding: 12px;font-weight: 600">ОБРАЗОВАНИЕ</span>
                        </div>
                        <div class="col-md-9" style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 40px;float: right"></div>
                        <div class="col-md-12">
                            <table id="education_data_table" style="width: 100%;margin-top: 12px">
                                    <tr>
                                        <td>
                                            <span style='font-weight: 600;font-size: 20px'>Южно-Уральский государственный университет
                                             </span> <br>Автоматизация технологических процессов и производств</td>
                                        <td>Выпускник, Март 2020</td>
                                    </tr>
                            </table>
                        </div>


                        <div class="col-md-4" style="float: left;margin-top: 20px" >
                            <img src="../static/img/resume_1/achiements.png" width="40px"><span style="padding: 12px;font-weight: 600">ДОСТИЖЕНИЯ</span>
                        </div>
                        <div class="col-md-8" style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 40px;float: right"></div>                                <div class="col-md-12" style="width: 100%;margin-top: 12px">
                            <ul id="achivements_data_li">
                                <li style="font-size:18px;margin-bottom: 5px">Золотой значок ГТО</li>
                                <li style="font-size:18px;margin-bottom: 5px">Аттестат с отличием</li>
                            </ul>
                        </div>

                        <div class="col-md-4" style="float: left;margin-top: 20px" >
                            <img src="../static/img/resume_1/computer.png" width="40px"><span style="padding: 12px;font-weight: 600">ПЕРСОНАЛЬНЫЕ НАВЫКИ</span>
                        </div>
                        <div class="col-md-8" style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 40px;float: right"></div>
                        <div class="col-md-12" style="width: 100%;margin-top: 12px">
                            <ul id="skills_data_li">
                                <li style="font-size:18px;margin-bottom: 5px">Умение решать конфликты</li>
                                <li style="font-size:18px;margin-bottom: 5px">Знание английского языка</li>
                            </ul>
                        </div>
                        <div class="col-md-4" style="float: left;margin-top: 20px" >
                            <img src="../static/img/resume_1/personal_info.png" width="40px"><span style="padding: 12px;font-weight: 600">ПЕРСОНАЛЬНЫЕ ДЕТАЛИ</span>
                        </div>
                        <div class="col-md-8" style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 40px;float: right"></div>
                            <div class="col-md-12" style="margin-top: 12px">
                                <div style="width:50%;float: left;">
                                    <p id="fathername">Знание иностранных языков: </p>
                                </div>
                                <div style="width:50%;float: right;">
                                   <p id="mothername">Водительские права: </p>
                                </div>
                                   <p id="permanentaddress">Адрес проживания: </p>
                            </div>

                            <div class="col-md-12" style="margin-top: 50px">
                                <p>Я, <span id="name_declaration"></span>,настоящим заявляю, что вся информация, предоставленная выше, является правильной и полной.</p>
                            </div>
                            <div class="col-md-6" style="margin-top: 20px">
                                    ____________________________<br>
                                    <span id="n_declaration"></span>

                            </div>
                            <div class="col-md-6" style="margin-top: 20px">
                                 <p id="dec_place" style="float: right"></p>
                            </div>
                    </div>
                </div>
            </div>
       </section>


       <div id="popup1" class="overlay">
            <div class="popup">
                <div class="container">
                    <h4>ШАБЛОНЫ ПОРТФОЛИО</h4>
                    <a class="close" href="#">&times;</a>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Выберите свой собственный стиль для составления портфолио</p>
                        </div>
                        <div class="col-md-12">
                            <h5>ПЕРСОНАЛЬНАЯ ИНФОРМАЦИЯ</h5>
                        </div>
                    </div>


                    <form class="needs-validation" novalidate>
                        <div class="form-row form-group">
                            <div class="col-md-4">
                                <label for="name">Полное имя</label>
                                <input type="text" class="form-control" id="name" placeholder="Напишите ваше полное имя" required>
                                <div class="invalid-feedback"> Enter your Full name.</div>
                            </div>
                            <div class="col-md-4">
                                <label for="dob">День рождения</label>
                                <input type="date" class="form-control" id="dob" placeholder="Напишите ваш день рождения" required>
                                <div class="invalid-feedback"> Enter your date of birth.</div>
                            </div>
                            <div class="col-md-4">
                                <label for="email">Электронная почта</label>
                                <input type="text" class="form-control" id="email" placeholder="Напишите вашу электронную почту"  required>
                                <div class="invalid-feedback"> Enter your email address.</div>
                            </div>
                            <div class="col-md-4">
                                <label for="phnum">Номер телефона</label>
                                <input type="text" class="form-control" id="phnum" placeholder="Напишите ваш номер телефона"  required>
                                <div class="invalid-feedback"> Enter your phone number.</div>
                            </div>
                            <div class="col-md-4">
                                <label for="city">Страна</label>
                                <input type="text" class="form-control" id="city" placeholder="Напишите вашу страну"  required>
                                <div class="invalid-feedback"> Enter your city.</div>
                            </div>
                            <div class="col-md-4">
                                <label for="city">Город</label>
                                <input type="text" class="form-control" id="state" placeholder="Напишите ваш город"  required>
                                <div class="invalid-feedback"> Enter your state.</div>
                            </div>
                            <div class="col-md-12">
                                <label for="ucareerob">Цели</label>
                                <textarea rows="5"  class="form-control" id="ucareerob" placeholder="Напишите ваши цели"  required></textarea>
                                <div class="invalid-feedback"> Enter your career Objective.</div>
                            </div>
                            <div class="col-md-12">
                                    <label for="uaboutself">О себе</label>
                                    <textarea rows="5"  class="form-control" id="uaboutself" placeholder="Напишите о себе"  ></textarea>
                                    <div class="invalid-feedback"> Enter about you.</div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>ОБРАЗОВАНИЕ</h5>
                            </div>
                            <div class="col-md-6">
                                <label for="city">Место обучения</label>
                                <input type="text" class="form-control" id="course" placeholder="Напишите ваше место обучения"  >
                                <div style="color: red;display: none" id="co_err">**enter Course.</div>
                            </div>
                            <div class="col-md-6">
                                <label for="city">Курс/Класс</label>
                                <input type="text" class="form-control" id="college" placeholder="Напишите ваш курс/класс"  >
                                <div style="color: red;display: none" id="col_err"> **enter College.</div>
                            </div>
                            <div class="col-md-4">
                                <label for="city">Месяц выпуска</label>
                                <select class="form-control" id="month">
                                        <option>Выберите месяц окончания обучения</option>
                                        <option>Январь</option>
                                        <option>Февраль</option>
                                        <option>Март</option>
                                        <option>Апрель</option>
                                        <option>Май</option>
                                        <option>Июнь</option>
                                        <option>Июль</option>
                                        <option>Август</option>
                                        <option>Сентябрь</option>
                                        <option>Октябрь</option>
                                        <option>Ноябрь</option>
                                        <option>Декабрь</option>
                                </select>
                                <div style="color: red;display: none" id="select_month_err"> **select the month.</div>
                            </div>
                            <div class="col-md-4">
                                <label for="city">Год выпуска</label>
                                <input type="number" min="1990" max="2100" class="form-control" id="year" placeholder="Введите год"  >
                                <div style="color: red;display: none" id="year_err"> **enter valid year.</div>
                            </div>
                            <div class="col-md-2">
                                <label></label>
                                <input type="button" value="Добавить дату" style="width: 100%;margin-top: 8px"  class="btn" onclick="addcourse()">
                            </div>
                            <div class="col-md-2">
                                <label></label>
                                <input type="button" value="Удалить дату" style="width: 100%;margin-top: 8px"  class="btn" onclick="myDeleteFunction()">
                            </div>
                            <div class="col-md-12" style="padding: 20px;">
                                <table id="education_data" style="width: 100%;margin-top: 12px">

                                </table>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                    <h5>ДОСТИЖЕНИЯ</h5>
                            </div>
                            <div class="col-md-6">
                                <label for="achivement">Достижения</label>
                                <textarea rows="4"  class="form-control" id="achivement" placeholder="Напишите ваши достижения"  ></textarea>
                                <div style="color: red;display: none" id="achivement_err">**enter achievement.</div>
                            </div>
                            <div class="col-md-3">
                                <label></label>
                                <input type="button" value="Добавить достижение" style="width: 100%;margin-top: 8px"  class="btn" onclick="addache()">
                            </div>
                            <div class="col-md-3">
                                <label></label>
                                <input type="button" value="Удалить достижение" style="width: 100%;margin-top: 8px"  class="btn" onclick="achivementDeleteFunction()">
                            </div>
                            <div class="col-md-12" style="padding: 20px;">
                                <table id="acheivement_data" style="width: 100%;margin-top: 12px">
                                </table>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                        <h5>ЛИЧНЫЕ НАВЫКИ</h5>
                                </div>
                                <div class="col-md-6">
                                     <label for="skills">Личные навыки</label>
                                    <textarea rows="4"  class="form-control" id="skills" placeholder="Напишите ваши навыки" ></textarea>
                                    <div style="color: red;display: none" id="skills_err">**enter your skills.</div>
                                </div>
                                <div class="col-md-3">
                                    <label></label>
                                     <input type="button" value="Добавить навык" style="width: 100%;margin-top: 8px"  class="btn" onclick="addskills()">
                                </div>
                                <div class="col-md-3">
                                    <label></label>
                                    <input type="button" value="Удалить навык" style="width: 100%;margin-top: 8px"  class="btn" onclick="skillsDeleteFunction()">
                                </div>
                                <div class="col-md-12" style="padding: 20px;">
                                    <table id="skill_data" style="width: 100%;margin-top: 12px">
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h5>ЛИЧНЫЕ ДАННЫЕ</h5>
                                </div>

                            </div>
                            <div class="form-row form-group">
                                <div class="col-md-4">
                                    <label for="fname">Знание иностранных языков</label>
                                    <input type="text" class="form-control" id="fname" placeholder="Напишите языки, которые вы знаете" required>
                                    <div class="invalid-feedback"> Enter language.</div>
                                </div>
                                <div class="col-md-4">
                                    <label for="mname">Водительские права</label>
                                    <input type="text" class="form-control" id="mname" placeholder="Напишите вашу категорию" required>
                                    <div class="invalid-feedback"> Enter your driver license.</div>
                                </div>
                                <div class="col-md-12">
                                    <label for="paddress">Адрес проживания</label>
                                    <textarea rows="4"  class="form-control" id="paddress" placeholder="Напишите ваш адрес"  required></textarea>
                                    <div class="invalid-feedback">**enter address.</div>
                                 </div>
                            </div>

                            <div style="margin-bottom: 20px;">
                                <button class="btn btn-primary" type="submit" >Отправить форму</button>
                                <a href="#" class="btn btn-danger">Закрыть</a>
                            </div>

                    </form>
                </div>
            </div>
        </div>



    <script src="../static/js/jquery-2.1.3.js"></script>
    <script src="../static/js/my.js"></script>
    </body>
</html>
